
  {% extends "main.html" %}
  {% block tabs %}
    {{ super() }}
    <style>

      /* Application header should be static for the landing page */
      .md-header {
        position: initial;
      }
  
      /* Remove spacing, as we cannot hide it completely */
      .md-main__inner {
        margin: 0;
      }
  
      /* Hide main content for now */
      .md-content {
        display: none;
      }
  
      /* Hide table of contents */
      @media screen and (min-width: 60em) {
        .md-sidebar--secondary {
          display: none;
        }
      }
  
      /* Hide navigation */
      @media screen and (min-width: 76.25em) {
        .md-sidebar--primary {
          display: none;
        }
      }
    </style>
    
    <section class="mdx-container">
      <div class="md-grid md-typeset">
        <div class="mdx-hero">
            <div class="mdx-hero__content">
                <h2>A tool to search across National Cancer Institute datasets</h2>
                <h3>{{ config.site_description }}. </h3>
                </div>
                <div class="mdx-hero__image">
                <img src="assets/CRDCoverviewDEC2023small.jpeg" alt="" width="1000" height="500" draggable="false">
                </div>
                <div class="mdx-hero__content">
                <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | e }}" class="md-button md-button--primary">
                  Get Started!
                </a>
               </div> 
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
  {% block content %}{% endblock %}
  {% block footer %}{% endblock %}