{% extends "base.html" %}

{% block announce %}
  The all new CDA is here! Start searching today!
{% endblock %}

{% block content %}
{% if page.nb_url %}
    <a href="{{ page.nb_url }}" title="Download Notebook" class="md-content__button md-icon">
        {% include ".icons/material/download.svg" %}
    </a>
{% endif %}

{{ super() }}
{% endblock content %}

{% block scripts %}
  {{ super() }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script>
  $("#newshere").load('/release_notes/cdapython #fornews');
</script>
  {% endblock %}