
:root {
  --md-hue: 260
  --dt-html-background: #ddd
}

:root {
  --md-status--wip: url('data:image/svg;charset=utf-8, https://raw.githubusercontent.com/twitter/twemoji/master/assets/svg/1f6a7.svg');
}

[data-md-color-scheme=slate] {
  --md-primary-fg-color: hsla(var(--md-hue), 40%, 50%, 1);
}

[data-md-color-scheme=default] {
  --md-primary-fg-color: hsla(var(--md-hue), 70%, 36%, 1);
}

.dt-container {
  --dt-html-background: #ddd;
  --background-color: #ddd;
  --color-scheme: light;
}

.dtsb-searchBuilder {
  --dt-html-background: #ddd;
  --background-color: #ddd;
  --color-scheme: light;
}


.html.dark div.dtsb-searchBuilder button.dtsb-button, html.dark div.dtsb-searchBuilder select.dtsb-dropDown, html.dark div.dtsb-searchBuilder input.dtsb-input {
  --background-color: #ddd;
}


/* Maximum space for text block */
.md-grid {
  max-width: 100%; /* or 100%, if you want to stretch to full-width */
}

.mdx-container {
  margin: auto;
}

.homepage {
  max-width: 90%;
  margin: auto;
}

.news {  
  min-width: 300px;
  max-width: 400px;
  min-height: 300px;
  border: 10px solid var(--md-primary-fg-color);
  

  
.md-status--wip::after {
  mask-image: var(--md-status--wip);
  -webkit-mask-image: var(--md-status--wip);
}

